@import "../../Styles/Import.scss";

.Section{
   height:auto;
    width: 100%;

   padding: 0 0 0 8%;
    background: $background_home;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    align-items: center;

    .Container-text{
       
        h1{
            font-size: 5rem;
            font-weight: 500;
            line-height: 6rem;
            color:$Title-color;
        }
       h2{
        font-size: 2rem;
        font-weight: 200;
        color:$subtitle-color;
        font-family: $Montserrat-font;
       }
       p{
        font-size: 1.5rem;
        font-weight: 300;
        color:$Title-color;
        max-width: 70%;
        line-height: 2.5rem;
        margin-bottom: 4rem;
        font-family: $Montserrat-font;
       }
        .container{
            width: 60%;
            display: flex;
            column-gap: 0.5rem;
            height: 6vh;
            box-shadow: 4px 4px 4px 4px rgba(17, 17, 17, 0.185);
            border-radius: .5rem;
        }
    }
    .Container-image{
        height:100%;
        flex:1;
        
        img{
            max-width: 100%;
            
            height:98%;
            object-fit: cover;

        
        }
    }
}



