@import "../../Styles/Import.scss";
.InputEmail{
    width: 80%;
    text-align: left;
    padding: 0.5rem;
    line-height: 4rem;
    border: 1px solid $border-color;
    font-size: 1.5rem;
    border-radius: .3rem;
}