@import "../../Styles/Import.scss";
.InputEmail{
    width: 80%;
    text-align: left;
    padding: 1.5rem;
    line-height: 4rem;
    background: $White-color;
    font-size: 1.5rem;
    border-radius: .3rem;
    text-transform: capitalize;
}