@import "../../Styles/Import.scss";

.Navbar{
    display:flex;
    align-items:center;
    height:10vh;
    font-size:1.5rem;
    .Logo{
        padding-left:2rem;
    }
    .Container-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    font-family:$Montserrat-font;
    
    height:10vh;
    width:100%;
    
    
    
    .Nav-link{
        display:flex;
        padding-left:3rem;
        ul{
            display:flex;
            column-gap:1.5rem;
        }
        a{
            color:$Title-color;
        }
    }

    .Container{
        display:flex;
        column-gap:4rem;
        height:5vh;
        align-items:center;
        .Search{
            display:flex;
            align-items:center;
            column-gap:1rem;
            background:$White-color;
            width:60%;
            height:100%;
            border:2px solid $border-color;
            border-radius:0.5rem;
            input{
                max-width:90%;
                background:none;
                line-height:6rem;
                padding:.7rem;
                text-align:left;
            }
            span{
                padding:.7rem;
            }
        }
        .Icons{
        ul{
            display:flex;
            column-gap:1.5rem;
        }
        padding-right:2rem;

    }
}
}}