@import "../../Styles/Import.scss";
.Section{
    padding: 6rem 7% 4rem 7%;
    width:100%;

    .container-text{
       
        h1{
            font-size: 1.7rem;
        }
        
    }
    .Section-container{
        margin-top:6rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 2fr));
        gap:8rem;
    }

    .Paginacao {
        display:flex;
        justify-content:center;
        column-gap:2rem;
        font-size:1.5rem;
        padding:4rem 0;

        button{
            transition:all .3s;
            padding:1rem 2.5rem;
            border-radius:0.5rem;
            cursor:pointer;
            background:none;
            &:hover{
                color:$White-color;
                background:$btn-color;
                
            }
        }
        .Active-btn{
            color:$White-color;
                background:$btn-color;
        }
    }

}

@media (max-width:672px){
    .Section{
       
        .Section-container{
           align-items: center;
           gap:2.5rem;
            
            
        }
    
    }
}